@use "../abstracts/colors" as c;

header {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    #site-logo {
        padding: 1.5rem 0 1rem 1rem;
        @media (max-width: 768px) {
            padding: 1rem 0 0.5rem 0.5rem;
        }
    }
    #toggle-offcanvas {
        background-color: c.$brand-primary;
        border-bottom-left-radius: 50%;
        color: white;
        font-size: 3rem;
        padding: 0 1rem;
        transition: all 0.5s;
        box-shadow: -1px 1px 10px black;
        &:hover {
            background-color: c.$brand-secondary;
        }
        @media (max-width: 768px) {
            font-size: 2.5rem;
            padding: 0 1rem;
        }
    }
}
