@use "../abstracts/colors" as c;

.offcanvas {
    background-color: c.$black;
    padding: 1rem 1.5rem;
    .offcanvas-body {
        .offcanvas-nav {
            list-style: none;
            padding: 0;
            li {
                a {
                    line-height: 40px;
                    display: block;
                    outline: 1px solid red;
                    color: c.$white;
                    text-decoration: none;
                    transition: all 0.5s;
                    &:hover {
                        color: c.$brand-secondary;
                    }
                }
            }
        }
    }
}
